<!-- CSS -->
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

<head>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript">
      $(function(){
          $("#btn1").click(function(){
          setInterval(function (){
              $.ajax({
                  type:"get",
                  url: "./log",
                  dataType: "text",
                  //timeout:3000,
                  success: function(data){
                      $("#textView1").html(data);
                  }
              });
          }, 1000);
          });
      });
  </script>
</head>

<div class="wrapper fadeInDown">
  <header>
    <div class="container">
      <h1 class="logo"> Time Series Plot Chart </h1>
    </div>
  </header> 
  <div id="formContent">
    <h2 class="active"> File Upload </h2>
  </div>
  <div id="formFooter">
    <div class="iframebox">
      <iframe src="http://106.250.21.194:8304/files/data"></iframe>
    </div>
  </div>
  
  <br>
  
  <div id="formContent">
    <h2 class="active"> CSV to chart </h2>
  </div>
  <div id="formFooter">
    <div class="iframebox">
      <iframe src="http://106.250.21.194:8306/chart_form"></iframe>
    </div>
  </div>

  <!--
  <div id="formContent">
    <h2 class="active"> Result </h2>
  </div>
  <div id="formFooter">
    <div class="iframebox">
      <iframe src="http://bigsoft.iptime.org:8306/charting"></iframe>
    </div>
  </div>
  -->
</div>
