# 운영체제 관련 파일
.DS_Store    # macOS
Thumbs.db    # Windows

# 빌드 및 컴파일된 파일
*.o          # 오브젝트 파일
*.class      # Java 클래스 파일
*.pyc        # Python 컴파일된 파일
/build/      # 빌드 아웃풋 디렉토리
/dist/       # 배포 아웃풋 디렉토리

# 패키지 매니저 파일
node_modules/ # Node.js 패키지
vendor/      # Composer(PHP) 또는 기타 의존성 디렉토리

# 로그 파일 및 데이터베이스 파일
#*.log
#*.sql
#*.sqlite

# 환경 설정 파일 (민감 정보 포함 가능)
#.env
#config.ini
tmp_this.ini
#secrets.py

# 특정 IDE/편집기 설정 파일
.idea/       # IntelliJ IDEA
.vscode/     # VS Code (일부 프로젝트에서 공유하기도 함)
*.sublime-project
*.sublime-workspace

# 임시 파일
*~           # Emacs 백업 파일
*.bak        # 백업 파일

# 특정 파일 제외
#my_secret_file.txt
