# Author : Jeonghoon Kang, https://github.com/jeonghoonkang

version: '2' #3 사용 가능, 기존은 Ver 3. 일부 Ubuntu 에서 실행이 안되며, Ver 2로 낮춰야 문제가 발생하지 않음

services:
  db:
    image: mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-file-per-table=1 --skip-innodb-read-only-compressed
    restart: always
    volumes:
      - ${VOL_PATH}/mariadb_volume:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=***
    env_file:
      - db.env

  app:
    image: nextcloud:apache
    restart: always
    volumes:
      - ${VOL_PATH}/nextcloud_volume:/var/www/html
      - ${VOL_PATH}/photo_volume:/Photo
    environment:
      - VIRTUAL_HOST=***.mooo.com
      - LETSENCRYPT_HOST=***.mooo.com
      - LETSENCRYPT_EMAIL=***@gmail.com
      - MYSQL_HOST=db
    env_file:
      - db.env
    depends_on:
      - db
    networks:
      - proxy-tier
      - default

  proxy:
    build: ./proxy
    restart: always
    ports:
      - 80:80
      - 443:443
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    volumes:
      - ${VOL_PATH}/nginx_proxy/nginx_certs:/etc/nginx/certs:ro
      - ${VOL_PATH}/nginx_proxy/nginx_vhost.d:/etc/nginx/vhost.d
      - ${VOL_PATH}/nginx_proxy/nginx_html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy-tier

  letsencrypt-companion:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    volumes:
      - ${VOL_PATH}/nginx_proxy/nginx_certs:/etc/nginx/certs
      - ${VOL_PATH}/nginx_proxy/nginx_vhost.d:/etc/nginx/vhost.d
      - ${VOL_PATH}/nginx_proxy/nginx_html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - proxy-tier
    depends_on:
      - proxy

networks:
  proxy-tier:
