PLANKA_PORT=3000
BASE_URL=http://localhost:3000
SECRET_KEY=replace_with_64_byte_hex_secret

POSTGRES_PASSWORD=planka

DEFAULT_ADMIN_EMAIL=admin@example.local
DEFAULT_ADMIN_PASSWORD=admin1234
DEFAULT_ADMIN_NAME=Project Admin
DEFAULT_ADMIN_USERNAME=admin

TRUST_PROXY=false
DEFAULT_LANGUAGE=ko-KR
OUTGOING_BLOCKED_HOSTS=localhost,postgres
